* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4CA69E 0%, #774494 100%);
  background-attachment: fixed;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
